html{
  height: 100%;
  width: 100%;
}
body,#root,.App,.temp{
  height: inherit;
  width: inherit;
}
.temp1{
  display: flex;
  width: inherit;
}
.navv{
  display: flex;
    justify-content: center;
    gap: 66%;
    background-color: gray;
}
.lic>div{
  display: flex;
  background: white;
  margin: 3%;
  border-radius: 13px;
}
.lic>div>input{
  width: 11%;
}
.lic>div>p{
  margin-bottom: 9% ;
}

.listdiv{
  display: -webkit-box;
  height: 500px;
  width: 80%;
  flex-wrap: nowrap;
  overflow: scroll;
  
}
.list-s{
  width: 265px;
  height: 400px;
  border: 2px solid black;
  margin: 3%;
  background: lightgrey;
}
.list-s>h1{
  background-color: darkgray;
    margin: 0;
    padding: 2%;
    text-align: center;
}
.add-task{
  position:absolute;
  bottom: 0%;
}
.add-list{
  border: 2px solid black;
    height: 0%;
    margin: 2.3%;
    width: 14%;
}
.add-list>p{
  background-color: grey;
    margin: 0%;
    text-align: center;
    padding: 2%;
}
.add-list>svg{
  margin-left: 36%;
  margin-top: 4%;
  margin-bottom: 4%;
}

