#loginDiv{
    width: 458px;
    height: 240px;
}
form{
    height: 90%;
}
form>input{
    display: block;
    margin-top: 5px;
    width: 48%;
    height: 9%;
    border-radius: 30px;
    position: relative;
    left: 15%;
}
form>button{
    position: relative;
    top: 10%;
    left: 16%;
}
.sign-up>h1{
    position: relative;
    left: 16%;
    font-family: fantasy;
}
.sign-up{
    
    height: 456px;
    width: 900px;
    background-color: aqua;
    align-items: center;
    /* margin: 25%; */
    padding: 1%;
    border-radius: 158px;
    position: absolute;
    top: 9%;
    /* text-align: center; */
    left: 16%;
}